{% extends 'layout.html' %}
{% block title %}Создание категории{% endblock %}
  {% block content %}
<div class="category_control">
<main class="form-signin w-100 m-auto">
<table style="display: flex; justify-content: space-around;">
    <h1>Создание категории</h1>
    <p>Следуйте этой форме:</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Создать Категорию</button>
        </form>
    </table>
</main>
</div>
{% endblock %}