{% extends 'layout.html' %}
{% block title %}Пользователь{% endblock %}
  {% block content %}
    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
      <form method="get" id="filter">
        {{ filter.form.as_p }}
        <input type="submit" class="filter-button">
      </form>
    </div>

    <div class="main">
    {% for design in filter.qs %}
      <div class="features">
          <p>Название: {{ design.name }}</p>
          <img src="{{ design.image.url}}" alt="connect" style="max-height:150px">
           <p class="text">Описание: {{ design.info }}</p>
          <p>Cтатус: {{ design.get_status_display }}</p>
          <p>Категория: {{ design.category}}</p>
          <p>Комментарий: {{ design.comment }}</p>
          <p>Дата: {{ design.date }} </p>
          <p>User: {{ design.user }} </p>

          {% if design.status == "new" %}
            <p>

                <a href="{% url 'delete_post' design.id %}"><strong>Удалить заявку?</strong></a>
            </p>
          {%endif%}

        </div>
    {% endfor %}

    </div>


  </div>
{% endblock %}
{% block script %}
<script>
  $("#filter .filter-button").hide();
  $(document).on("change", "#filter", function(e) {
    $(this).submit();
  });
</script>

  {% endblock %}